/config_shared_with_ci_bootstrap.php
/phpMyAdmin/
/info.php
/assets/frontend/pdf/
/assets/files_new/
/assets/files/
/assets/editor_images/
/assets/assets/widgets/cache/
/assets/assets/frontend/pdf/
/assets/assets/files_new/
/assets/assets/files/
/assets/assets/editor_images/
/adminer-4.6.2-en.php
/__phpmyadmin__/
/.well-known/
/.idea/
/__coreset.dat/composer.phar
/assets/widgets/cache/
/.idea/
*_[0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]
*_[0-9][0-9][0-9][0-9][0-9][0-9]
*_[0-9][0-9][0-9][0-9][0-9]
/assets/widgets/cache/
*[0-9][0-9][0-9][0-9][0-9][0-9]
*[0-9][0-9][0-9][0-9][0-9]
*[0-9][0-9][0-9][0-9][0-9][0-9].php
*[0-9][0-9][0-9][0-9][0-9].php
*[0-9][0-9][0-9][0-9].css
* - Copy.*
*_[0-9][0-9]-[0-9]-[0-9][0-9]
/assets/frontend/css/style.css_5312017_eaving
*.css__
/__coreset.dat/protected.app/views/frontend/cms/page_plugins/pp_donate_form_.php
_notes/dwsync.xml
*.php_
* _.php
/assets/files/csv_uploads/memberdata/*.csv
/assets/files/csv_uploads/memberdata/*.xlsx
/assets/editor_images/image/
*.mp4

