<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="Rewrite to index.php">
                    <match url="index.php|robots.txt|images|test.php" />
                    <action type="None" />
                </rule>	 
				
				<rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                        <conditions logicalGrouping="MatchAll">
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
				
				
				<rule name="imamiamedics.com http to https" stopProcessing="true">
				  <match url="(.*)$" ignoreCase="true" />
				  <conditions logicalGrouping="MatchAll">
					<add input="{HTTP_HOST}" pattern="^(.*)$" />
					<add input="{HTTPS}" pattern="off" />
					<add input="{URL}" pattern="(.*)$" />
				  </conditions>
				  <action type="Redirect" url="https://www.imamiamedics.com/{R:1}" redirectType="Permanent" />
				</rule>
				
				
				
			</rules> 
			<outboundRules>
			  <rule name="Remove ETag">
				<match serverVariable="RESPONSE_ETag" pattern="(.*)\:(.*)" />
				<action type="Rewrite" value="{R:1}" />
			  </rule>
			</outboundRules>

			
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
		  
		  
	 
      
    
		  
		  
		  
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="noreply@imamiamedics.com">
                <network defaultCredentials="false" host="localhost" password="" port="587" userName="" />
            </smtp>
        </mailSettings>
    </system.net>
    <location path="imiimages.html">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://74.94.33.61" />
        </system.webServer>
    </location>
    <location path="imiimages">
        <system.webServer>
            <httpRedirect enabled="true" destination="http://74.94.33.61/" exactDestination="true" />
            <directoryBrowse enabled="false" />
        </system.webServer>
    </location>
    <location path="Donate">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=4PBXQ8DAUHJEA" />
        </system.webServer>
    </location>
	
	
  

</configuration>  